#!/usr/bin/make -f

export DH_OPTIONS

%:
	dh $@ --with=golang

override_dh_auto_configure:
	mkdir -p build && cd build && cmake -DCMAKE_BUILD_TYPE=ReleaseWithDebInfo -DCMAKE_INSTALL_PREFIX:PATH=/usr -DUSE_LOCAL_GOPATH=true -DCMAKE_VERBOSE_MAKEFILE=true ..

override_dh_strip:
	dh_strip --dbg-package=gofetcher-dbg

.PHONY: override_dh_strip
